.calendar {
    display: flex;
  }
  .calendar .days {
    width: 70%;
  }
  
  .calendar .days {
    display: flex;
    flex-wrap: wrap;
  }
  
  .calendar .days .cell {
    flex-grow: 1;
    width: 20%;
  }
  
  .calendar .days .week,
  .calendar .days .weekend {
    width: 100%;
  }
  
  .calendar .notes {
    width: 30%;
    display: flex;
    flex-direction: column;
  }
  
  .calendar .notes .cell {
    height: 100%;
  }