body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  
  h1 {
    text-align: center;
  }
  
  section > p {
    padding: 0.5rem;
    background-color: #c4dfaa;
  }
  
  section > div {
    padding: 0.5rem;
    background-color: #90c8ac;
  }
  
  /* Child pseudo class */
  
  .nth-child p:nth-child(2n+1){
    background-color: orange;
  }
  .nth-child p:last-child {
    background-color: orange;
  }
  
  /* ------------------ */
  /* Type pseudo class */
  
  .nth-type p:nth-of-type(2n+1){
    background-color: orange;
  }
  
  /* .nth-type p:last-of-type {
    background-color: orange;
  } */
  /* .nth-type .item:last-of-type{
    background-color: orange;
  } */