body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 3rem;
}

h1 {
    text-align: center;
}

.container {
  background-color: #f1eee9;
  padding: 1rem 0.5rem;
  border: 2px solid #73777b;
}

.item {
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.item.first {
  background-color: #df7861;
}

.item.second {
  background-color: #ecb390;
}

.item.third {
  background-color: #94b49f;
}

.item.fourth {
  background-color: #fcf8e8;
}

.item.fifth {
  background-color: #a2b38b;
}

.item.sixt {
  background-color: #e4e9be;
}

.item.seventh {
  background-color: #fafdd6;
}

.item.eight {
  background-color: #e6ba95;
}