body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img{
    float: left;
    right: 20px;
    padding: 15px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }